footer {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

footer .FooterLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% - 330px);
    margin-bottom: 50px;
    padding: 0 10px;
}

.SocialMedia {
    width: 330px;
    padding: 0 30px;
    margin-bottom: 100px;
}

.SocialMedia p {
    font-family: YekanBakhHeavy;
    font-size: 1.3rem;
    color: #303030;
}

.SocialMedia div {
    display: flex;
    margin-top: 20px;
}

.SocialMedia a {
    background-color: #eff4fe;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 15px;
}

.FooterLinks p {
    font-size: 1.3rem;
    font-family: YekanBakhHeavy;
    margin-top: 15px;
    color: #303030;
}

.FooterLinks ul {
    list-style: none;
}

.FooterLinks a {
    text-decoration: none;
    font-size: 1rem;
    font-family: iranyekanwebmedium;
    color: #000;
}

.FooterLinks li {
    padding: 8px 0;
}

/* Media Queries */

@media (max-width: 1200px) {
    footer {
        width: 940px;
    }
}

@media (max-width: 990px) {
    footer {
        flex-direction: column;
        width: calc(100% - 60px);
    }
    footer .FooterLinks {
        width: 100%;
    }

    footer .SocialMedia {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    footer {
        width: calc(100% - 120px);
        margin: 0 60px; 
    }
    footer .FooterLinks {
        grid-template-columns: repeat(2, 1fr);
    }
    footer .FooterLinks div {
        margin-top: 25px;
    }
}

@media (max-width: 575px) {
    footer {
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .FooterLinks p, .FooterLinks a {
        font-size: 0.9rem;
    }
}