.PaymentGateway {
    width: 1170px;
    background-color: #f1f5fe;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.PaymentGatewayText {
    padding: 100px 40px 80px;
}

.PaymentGatewayText h1 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    /* color: #fff; */
}

.PaymentGatewayText p span {
    /* color: #fff; */
    font-size: 1rem;
    font-family: YekanBakhMedium;
    /* margin: 25px 0; */
    line-height: 40px;
    z-index: 1;
    position: relative;
}

.PaymentGatewayImage img {
    width: 500px;
    /* height: 450px; */
}

.PaymentGatewayButtons {
    margin-top: 60px;
}

.PaymentGatewayLink {
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.GoDown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}

.GoDown div {
    background-image: url(../../assets/images/arrowbottom.svg);
    width: 164px;
    height: 78px;
}

.GoDown img {
    width: 15px;
    position: relative;
    top: -60px;
}

.Attributes {
    width: 1170px;
    justify-content: space-between;
    padding: 0px 40px 80px;
    margin: 0 auto;
}

.Title {
    width: 100%;
    padding: 0 35px 20px 0;
    /* margin-right: 30px; */

}

.Title h2 {
    font-size: 2rem;
    font-family: YekanBakhHeavy;
    
}

.Advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.Advantages h4 {
    font-size: 1.5rem;
    font-family: YekanBakhMedium;
    margin-right: 20px;
}

.Advantages p {
    margin: 20px 0 20px 10px;
    font-size: 1rem;
    font-family: YekanBakhMedium;
    color: #303030;
    line-height: 36px;
    max-width: 317px;
}

.Advantages img {
    width: 60px;
    height: 60px;
}


.Advantage {
    padding: 18px 25px 20px 0;
}

.Advantage div {
    display: flex;
    align-items: center;
}

.SectionContent {
    width: 1170px;
    display: flex;
    background-color: #fbf6f1;
    border-radius: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
}

.TariffPayment {
    padding: 45px 60px 25px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.TariffPayment h2 {
    color: #303030;
    font-weight: 900;
    font-family: YekanBakhHeavy;
    text-align: right;
    line-height: 40px;
    margin-bottom: -2px;
}

.TariffPayment p {
    padding-bottom: 20px;
    font-size: 16px;
    font-family:YekanBakhMedium;
    line-height: 40px;
    text-align: justify;
    color: #303030;
    position: relative;
    z-index: 1;
    width: 549px;
}

.Link {
    width: 139px;
}

.Button {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.7);
    padding: 6px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.Logo {
    width: 563px;
    height: 334px;
    background-size: cover;
    margin-right: -180px;
}

.TitleTwo {
    width: 35%;
    padding-right: 20px
}

.TitleTwo h2 {
    font-size: 2rem;
    font-family: YekanBakhHeavy;
    padding: 40px 0 20px;
}

.Pic {
    width: 60px;
    height:60px;
    background-color: #eff4fe;
    border-radius: 16px;
}
.Pic img {
    width: 40px ! important;
    height: 40px ! important;
    padding: 10px 10px 0;
}

.Advantage h4 span {
    font-size: 13px;
    font-family: Roboto-Regular;
    font-weight: 600;
}

/* Media Queries */

@media (max-width: 1200px) {
    .PaymentGateway {
        width: 940px;
        overflow-x: hidden;
    }
    .PaymentGatewayImage img {
        width: 430px;
    }
    .PaymentGatewayText p, h1 {
        padding: 0 40px 10px
    }
    .PaymentGatewayButtons {
        padding: 0 40px 0
    }
    .Attributes {
        width: 940px;
        /* margin: 0px auto; */
        padding: 0 40px 0;
        flex-direction: column;
    }

    .Advantages {
        width: 90%;
        /* padding: */
        /* margin: auto; */
        grid-template-columns: 1fr 1fr;
    }
    .Advantage {
        padding: 18px 0 20px 50px;
    }

    .Title, .TitleTwo {
        width: 100%;
        padding-right: 5px
        /* margin: auto; */
        /* margin-top: 40px; */
    }
    .Title h2, .TitleTwo h2 {
        /* margin-top: 30px; */
        width: 100%
    }
    .SectionContent {
        width: 940px;
    }
    .TariffPayment p{
        width: 330px;
    }
    .Logo {
        margin-right: 23px;   
    }
}

@media ( max-width:990px ) {
    .PaymentGateway {
        width: auto;
        padding-right: 10px;
    }
    .PaymentGatewayMain {
        margin: 0 10px;
        width: calc(100% - 20px)
    }
    .PaymentGatewayImage img {
        display: none;
    }
    .PaymentGatewayText p, h1 {
        /* margin: 5px 0; */
        padding-right:10px;
        width: 100%;
        font-size: 1rem;
    }
    .PaymentGatewayButtons {
        margin-top: 40px;
    }
    .Attributes {
        width: auto;
        padding: 0 35px;
    }
    .SectionContent {
        margin: 0 38px;
        width: calc(100% - 76px);
    }
    .Logo {
        display: none;
    }
    /* .LogoImage{
        display: none;
    } */
    .TariffPayment p {
        width: 90%
    }
    .TitleTwo {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .PaymentGateway {
        width:auto
    }
    .PaymentGateway p, h1 {
        padding: 0 0px 0
    }
    .PaymentGatewayButtons {
        padding: 0 0px 0
    }
    .Advantages {
        width: 100%;
        border: none;
        padding: 50px 0;
        margin: auto;
    }
    .Advantages p {
        font-size: 19px;
    }
    .Advantage {
        padding: 18px 20px 20px;
    }
    .Title h2, .TitleTwo h2 {
        font-size: 1.6rem;
    }
    .SectionContent{
        margin: 0 8px;
        width: calc(100% - 16px);
    }
    .TariffPayment p {
       width: 90%;
    }
    .TariffPayment h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 575px) {
    .PaymentGateway {
        width: auto
    }
    .PaymentGatewayText {
        text-align: center;
    }
    .PaymentGatewayText h1 {
        font-size: 1.2rem;
    }
    .PaymentGatewayText p {
        text-align: justify;
        margin-top: 10px
    }
    .Advantages {
        padding: 50px 0;
        grid-template-columns: 1fr;
    }
    .Advantage {
        padding: 18px 0;
    }
    .Advantage h4 {
        font-size: 1rem
    }
    .TariffPayment p {
        width: 70%;
        font-size: 16px;
    }
    .TariffPayment h2 {
        width: 50%;
        font-size: 20px;
    }
    .TariffPayment a {
        width: 80%;
        margin-bottom: 30px;
        padding: 7px 28px;
    }
    .Title h2, .TitleTwo h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }
}