.ZarinLink {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    background-color: #f1f6fe;
    border-radius: 20px;
    margin: 20px auto;
}

.ZarinLinkText {
    padding: 124px 60px 80px;
}

.ZarinLinkText h3 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
}

.ZarinLinkText p {
    font-family: YekanBakhMedium;
    font-size: 1rem;
    margin: 25px 0;
    line-height: 40px;
    position: relative;
}

.ZarinLinkButton {
    margin-top: 60px;
}

.ZarinLinkButton a {
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.ZarinLinkPic {
    width: 100%;
    height: 450px;
}

.GoDown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}

.GoDown div {
    background-image: url(../../assets/images/arrowbottom.svg);
    width: 164px;
    height: 78px;
}

.GoDown img {
    width: 15px;
    position: relative;
    top: -60px;
}

article {
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;

}


.Title h2 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    padding-top:20px;
    padding-bottom:20px;
}


.Options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding-right: 185px */
    
}

.Option {
    width: 100%;
    border-left: 1px solid #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
}

#OptionThree,
#OptionSix, #OptionEight {
    border-left: none
}


#OptionSeven, #OptionEight {
    border-bottom: none;
}

.Container {
    padding-right: 30px;
}

.Container div {
    display: flex;
    padding: 20px 0 7px;
    align-items: center;
}

.Container img {
    width: 60px;
    height: 60px;
}

.Container h4 {
    font-size: 1.5rem;
    font-family: YekanBakhMedium;
    margin-right: 20px;
}

.Container p {
    width: 90%;
    font-size: 1rem;
    font-family: YekanBakhMedium;
    color: #303030;
    line-height: 36px;
    margin: 20px 0 20px 10px;
}





/* Media Queries */

@media (max-Width: 1200px) {
    .ZarinLink {
        width: 940px;
    }
    .ZarinLinkText {
        padding: 60px 21px 120px;
    }
    .ZarinLinkPic img {
        width: 430px;
    }
    article {
        width:940px;
    }
    
    .Options {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    .Option {
        width:100%;
        border: none;
    }
}

@media (max-Width: 990px) {
    .ZarinLink{
        width: auto;
        margin-left: 35px;
        margin-right:35px;
    }
    .ZarinLinkText {
        width: 98%;
    }
    
    .ZarinLinkPic {
        display: none;
    }
    article{
        width: auto;
        /* margin: 0 40px */
        margin-left: 35px;
        margin-right:35px;
    }
    .Title h2 {
        padding: 0 25px 30px;
    }
    .Options {
        grid-template-columns: 1fr 1fr;
        width: auto;
        /* padding: 20px 45px 0; */
    }

    .Container p {
        width: 80%;
        text-align: justify;
        font-size: 16px;
    }
    .Container h4 {
        font-size: 22px;
    }
}

@media (max-Width: 768px) {
    main{
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    .ZarinLink {
        margin-right: 10px;
        margin-left: 10px;
    }
    article {
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
    .Container p {
        width: 80%;
        text-align: justify;
        font-size: 16px;
    }
    .Container h4 {
        font-size: 19px;
    }
}

@media (max-Width: 575px) {
    main{
        padding-right: 5px;
        padding-left: 5px;
    }
    article{
        padding-right: 5px;
        padding-left: 5px;
    }
    .Options {
        grid-template-columns: 1fr;
    }
    .Title h2 {
        font-size: 24px
    }

}